<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
  <link rel="stylesheet" href="./lib/bootstrap-validator/css/bootstrapValidator.min.css">
  <link rel="stylesheet" href="./css/common.css">
  <title>乐淘</title>
</head>
<body>
  <!-- 侧边栏 -->
  <div class="sidebar">
    <div class="brand">
      <a href="#">黑马28期</a>
    </div>
    <div class="user">
      <img src="./images/02.jpg" alt="">
      <p>超级管理员</p>
    </div>
    <div class="nav">
      <ul>
        <li><a href="./user.html" class="nav_user">
          <i class="glyphicon glyphicon-user"></i>
          <span>用户管理</span>
        </a></li>
        <li><a href="#" class="nav_category">
          <i class="glyphicon glyphicon-tags"></i>
          <span>分类管理</span>
          </a>
          <div class="child">
            <a href="./first.html" class="first">一级分类</a>
            <a href="./second.html" class="second">二级分类</a>
          </div>
        </li>
        
        <li><a href="./product.html" class="nav_product active">
          <i class="glyphicon glyphicon-list"></i>
          <span>商品管理</span>
        </a></li>

      </ul>
    </div>
  </div>

  <!-- 右侧内容 -->
  <div class="main">
    <div class="topbar">
      <a href="#" class="pull-left glyphicon glyphicon-menu-hamburger"></a>
      <a href="#" class="pull-right glyphicon glyphicon-share"></a>
    </div>
    <div class="content ">
        <ol class="breadcrumb">
          <li><a href="./index.html">管理系统</a></li>
          <li class="active">商品管理</li>
        </ol>
        <button class="btn btn-default first_btn product_btn">添加分类</button>
        <table class="table table-bordered table-hover">
          <thead>
            <th width="10%">序号</th>
            <th width="25%">商品名称</th>
            <th width="25%">商品描述</th>
            <th width="10%">商品库存</th>
            <th width="10%">商品尺寸</th>
            <th width="10%">商品状态</th>
            <th width="10%">操作</th>
          </thead>
          <tbody class="second_table">

          </tbody>
        </table>

        <div class="text-right">
          <ul id="paginator"></ul>
        </div>
    </div>
  </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
            </div>
            <div class="modal-body">
              <i class="glyphicon glyphicon-info-sign"></i>
              <span>您确定要退出后台管理系统吗？</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary">确认</button>
            </div>
          </div>
        </div>
      </div>

      <div id="addModal" class="modal fade" tabindex="-1">
        <!-- modal-sm 小   modal-lg 大    默认中等  -->
        <div class="modal-dialog ">
      
          <div class="modal-content">
            <form id="form">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加分类</h4>
              </div>
              <div class="modal-body">
                <!-- bootstrap 要求input外层 套一个 form-group, 做表单校验时, 如果不加 form-group 会报错 -->
                <div class="form-group">
                  <div class="dropdown">
                    <button class="btn btn-default" data-toggle="dropdown">
                      <span id="dropdownText">请选择二级分类</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"></ul>
                    <input type="text" name="brandId">
                    <input type="hidden" name="statu" value="1">
                  </div>
                </div>
                <div class="form-group">
                  <input name="proName" class="form-control" type="text" placeholder="请输入商品名称">
                </div>
                <div class="form-group">
                  <textarea name="proDesc" class="form-control form-control" rows="3" placeholder="请输入商品描述"></textarea>
                </div>
                <div class="form-group">
                  <input name="num" class="form-control" type="text" placeholder="请输入商品库存">
                </div>
                <div class="form-group">
                  <input name="size" class="form-control" type="text" placeholder="请输入商品尺码">
                </div>
                <div class="form-group">
                  <input name="oldPrice" class="form-control" type="text" placeholder="请输入商品原价">
                </div>
                <div class="form-group">
                  <input name="price" class="form-control" type="text" placeholder="请输入商品现价">
                </div>
                <div class="form-group">
                  <label for="fileupload" class="btn btn-default">上传图片</label id="">
                  <input type="file" name="pic1" data-url="/product/addProductPic" id="fileupload" style="display:none" multiple>
                </div>
                <div class="form-group clearfix" id="imgBox">
                  <input type="hidden" name="picStatus">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary" >添加</button>
              </div>
            </form>
          </div>
      
        </div>
      </div>

  <script type="text/html" id="tmp">
    {{ each rows v i}}
      <tr>
        <td>{{ (i+1)+(page-1)*size }}</td>
        <td>{{ v.proName }}</td>
        <td>{{ v.proDesc }}</td>
        <td>{{ v.num }}</td>
        <td>{{ v.size }}</td>
        <td>
          {{ if v.statu == 1 }}
            已上架
          {{ else }}
            已下架
          {{ /if }}
        </td>
        <td>
          {{ if v.statu == 1 }}
            <button class="btn btn-danger">下架</button>
          {{ else }}
            <button class="btn btn-success">上架</button>
          {{ /if }}
        </td>
      </tr>
    {{ /each }}
  </script>

  <script type="text/html" id="tmp2">
    {{ each rows v i }}
      <li><a data-id={{ v.id }} href="#">{{ v.brandName }}</a></li>
    {{ /each }}
  </script>

  

  



<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/jquery-fileupload/jquery.ui.widget.js"></script>
<script src="./lib/jquery-fileupload/jquery.fileupload.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/echarts/echarts.min.js"></script>
<script src="./lib/nprogress/nprogress.js"></script>
<script src="./lib/artTemplate/template-web.js"></script>
<script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="./lib/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/product.js"></script>
</body>
</html>